@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');
.bg-beige{
    background-color: rgb(241, 243, 195)
}

.bg-brown{background-color: #694736
}
*{
    font-family: 'Roboto', sans-serif;
}
#botonera{
    background-color: rgb(241, 243, 195);
}

#botonera img{
    width: 150px;
}

#botonera ul li  a{
    color: #694736;
    font-size: 1.1em;
    font-family: 'Roboto', sans-serif;
}

#botonera ul li a:hover{
    color: black;
}
/* selectores de etiqueta */
body{
    background-image:url(../img/backgrounds/cuero\ 4.jpg);
}
h1{
    color: brown;
    font-weight: 400 ;
    font-size: 25px;
}
h2{
    color: aqua;
    font-weight: 400;
    font-size: 20px;
}
p{
    color: gray;
    font-weight: 100;
    font-size: 16px;
    line-height: 24px;
}
nav{
    background-color: #694736;
position: sticky;
width: 100%;
top: 0;
left: 0;
/* padding */
padding: 8px 20px;
/* display flex*/
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
}
 nav ul{
    list-style: none;
    /* display flex */
    display: flex;
}
  nav ul li a{
    color: rgb(110, 180, 180);
    text-decoration: none; 
}
/* selectores de clases */
.text-aqua{
    color: rgb(110, 180, 180);
}
.text-brown{
    color: brown;
}
.text-center{
    text-align: center;
}
.text-right{
    text-align: right;
}
.text-justify{
    text-align: justify;
}
.text-bold{
    font-weight: 600;
}
.text-highlight{
    background-color: yellow;
}
/* selector de ID */

h1,
h2,
h3{
    color:  rgb(241, 243, 195);
    font-family: 'Roboto', sans-serif;
}
h1{
    font-size: 2.8em;
}
h2{
    font-size: 1.5em;
}
h3{font-size: 1.8em;

}
p{
    color: rgb(55, 40, 22);
    font-family: 'Roboto', sans-serif;
    font-size: 1.0em;
}
