//variables globales


//variables colores
$mainColor:#694736;
$secondary:rgb(225, 227, 173);
$keyColor:#38251c;
$secondKeyColor:#9ffffd;

//width
$w-30:30%;
$w-60:60%;

//posiciones de imagenes
img.izquierda {
    float: left;
  }
  
  img.derecha {
    float: right;
  }
  //tamaño de cards
  .card-personalizada {
    width: 300px
}
